<footer>
	<!-- Dev Only -->
	{% if constant('DEV') %}
		<div style="font-size:12px;opacity:.95">
			anon_id:
			{{ anon_id }}
			| user:
			{{ session.id ?? 'guest' }}
			| website:
			{{ session.website ?? 'n/a' }}
			| uri:
			{{ request_uri }}
		</div>
	{% endif %}


	<!--   <div class="container">  -->
	<a href="{{ doc_root }}contact/1">Contact us</a>
	<a class="credit">&copy;
		{{ 'now'|date('Y') }}
		Geoff Stevens</a><br>
	Ver 1.0.0
	<a href="{{ doc_root }}terms-privacy">Terms & Privacy</a><br>

	<!-- </div> -->
</footer>
