<nav class="member-menu">{# ------------------------------------
																																								       NAV STATE (single source of truth)
																																									 ------------------------------------ #}
	{# Logged in if we have any real account identity #}{% set role = (session.role|default('guest')|lower) %}{% set is_logged_in = (role != 'guest') %}{% set is_admin = (role in ['admin','uber']) %}
	{# DEBUG nav-utility disabled while testing main nav #}


	{# -------------------------------
																																									     Identity (always visible)
																																									 ------------------------------- #}<span class="icon-user"> </span>
	{% if is_logged_in %}
		<a href="{{ doc_root }}member/{{ session.id }}">
			{{ session.forename|default('Member') }}
		</a>
	{% else %}
		<a href="{{ doc_root }}index/{{ website.id|default(1) }}?from_sws=1&sorttype_id=1">
			Guest
		</a>
	{% endif %}
	/

	{# -------------------------------
																																									        Guest-only link
																																								  -------------------------------- #}
	{% if not is_logged_in %}
		<span class="icon-user"></span>
		<a href="{{ doc_root }}login/{{ website.id|default(1) }}?direct=1">
			Log in
		</a>
		/
		<span class="icon-user"></span>
		{% set communityWebsites = [47,52] %}
		{% if website.id not in communityWebsites %}

			<a href="{{ doc_root }}register/{{ website.id|default(1) }}">Register</a>
			|
		{% endif %}

	{% endif %}


	{# -------------------------------
																																																			       Member/Admin links
																																																			       ------------------------------- #}
	{% if is_logged_in %}
		{% if is_admin %}
			{# COBC Website 44 view toggle #}
			{% set current_website_id = website.id|default(session.website|default(1)) %}

			{% if current_website_id == 44 %}
				<span class="icon-user"></span>


				<a href="{{ doc_root }}index/44?view=community{% if location is defined and location %}&location={{ location }}{% endif %}">
					COBC Community
				</a>

				/
			{% endif %}
			<span class="icon-user"></span>
			<a href="{{ doc_root }}admin/index/">Admin</a>
			/
			<span class="icon-user"></span>
			<a href="{{ doc_root }}admin/notes/">Notifications</a>
			/
			<span class="icon-user"></span>
			<a href="{{ doc_root }}inbox">
				Messages
				{% if unread_messages > 0 %}
					({{ unread_messages }})
				{% endif %}
			</a>
			|
		{% endif %}

		<span class="icon-user"></span>
		<a href="{{ doc_root }}logout">Logout</a>
		/


	{% endif %}

	{% set resolved_sort_menu_id =
    sort_menu_id|default(
        menu_id|default(
            menuId|default(
                active_menu_id|default(
                    activeMenuId|default(
                        section|default(
                            menu.id|default(
                                attribute(menu, 'id')|default(0)
                            )
                        )
                    )
                )
            )
        )
    )
%}

	{# -------------------------------
																																																			   SORT (guest + member)
																																																			   ------------------------------- #}

	<span class="icon-user"></span>
	{# -------------------------------
																													   SORT (guest + member)
																													   ------------------------------- #}

	{% set sort_menu_id = resolved_sort_menu_id|default(0) %}
	{% set return_path = current_path|default('') %}

	{% if sort_menu_id %}
		<a href="{{ doc_root }}sort/{{ sort_menu_id }}{% if return_path %}?return={{ return_path|url_encode }}{% endif %}">Sort</a>
		|
	{% endif %}


	{# -------------------------------
																																																						       Utility links (always available)
																																																						       ------------------------------- #}
	<span class="icon-user"></span>
	{# nav-utility.html #}
	<a class="nav-link" href="{{ refresh_href }}">Refresh</a>
	/

	<span class="icon-user"></span>
	<a href="javascript:history.back()">Back</a>
	/

	<span class="icon-user"></span>
	<a href="{{ doc_root }}stories-worth-saving/">Stories</a>
	/

	<span class="icon-user"></span>
	<a href="{{ doc_root }}select-website/">Websites</a>
	/
	<span class="icon-user"></span>
	<a href="{{ doc_root }}guide/">Guide</a>
	|
</nav>
