{% extends 'admin/layout.html' %}
{% block content %}
	<main>
		<!-- class="container" id="content">  -->
		<form action="{{ doc_root }}admin/edit-family/{{ member.id }}" method="POST" class="narrow">
			<h1>Edit Follow</h1>
			<input type="hidden" name="csrf" value="{{ csrf_token }}">
			<p>Member name:
				{{ member.forename }}
				{{ member.surname }}
			</p>Current Family Id:
			{{member.account_id}}

			<!-- input account_id dropdown here -->

			<label for="account_id">Family / Account</label>
			<select name="account_id" id="account_id">
				{% for row in account_options %}
					<option value="{{ row.account_id }}" {% if row.account_id == selected_account_id %} selected {% endif %}>
						{{ row.account_name }}
						({{ row.account_id }})
					</option>
				{% endfor %}
			</select>


			<span class="errors">{{ errors.family }}</span>
		</div>
		<input type="submit" value="Update family" class="btn
																											    btn-primary"/>

	</form>
</main>{% endblock %}
