{% extends 'admin/layout.html' %}
{% block content %}

  <main class="container admin" id="content">
    <form action="{{ doc_root }}admin/menu-delete/{{ menu.id }}" method="POST" class="narrow">
      <h1>Delete Menu</h1>
      <p>Click confirm to delete the menu: <em>{{ menu.name }}</em></p>
      <input type="submit" name="delete" value="confirm" class="btn btn-primary" />
      <a href="{{ doc_root }}admin/menus/" class="btn btn-danger">cancel</a>
    </form>
  </main>

{% endblock %}