{% extends 'layout.html' %}

{% block title %}"NOTIFICATIONS"
{% endblock %}
{% block description %}
	{{ member.forename|e('html_attr') }}
	{{ member.surname|e('html_attr') }}
	on theFocusOnLife
{% endblock %}

{% block content %}


	<main>
		<!-- class="container" id="content"> -->
		<form
			action="{{ doc_root }}admin/notes/" method="POST" class="form-member">
			<!--<form method="post" action="{{ doc_root }}admin/note/{{ note.from_id }}" class="form-narrow"> -->

			{% if session.id != 1 and member.id == 1 %}
				<a href="javascript:history.back()" class="btn btn-primary">Invalid Page</a>
			{% else %}
				<section class="header">


					<h1>notifications</h1>

					<p class="member">
						<b>Member since:</b>
						{{ member.joined|date('F d, Y') }}</p>
					<p class="member">
						<b>Family ID:</b>
						{{ member.account_id}}</p>
					{% if member.picture %}
						<img src="{{ doc_root }}uploads/{{ member.picture }}" alt="{{ member.forename }}"><br>
					{% else %}
						<img src="{{ doc_root }}uploads/person.png" alt="" class="profile"><br>
					{% endif %}
					{% if success %}
						<div class="alert alert-success">
							{{ success|e|nl2br }}
						</div>
					{% endif %}

					<table class="table table-striped">
						<tr>
							<th>Profile</th>
							<th>To</th>
							<th></th>
							<th>From</th>
							<th>Type</th>
							<th>Request</th>
							<th>Reply</th>
							<th>Accepted</th>
							<th>To Family</th>
						</tr>
						{% for note in notes %}
							<tr>
								<td>
									{% for member2 in members %}
										{% if member2.id == note.to_id  %}
											<img src="{{ doc_root }}uploads/{{ member2.picture }}" alt="img" src="{{ doc_root }}uploads/person.png" class="profile">
										{% endif %}
									{% endfor %}
								</td>
								{% for member2 in members %}
									{% if member2.id == note.to_id %}
										<td>{{ note.to_name }}</td>
										<td></td>
										<td>{{ note.from_name }}</td>
										<td>REQUEST TO FOLLOW</td>

										<td>{{ note.request_date }}</td>
										<td>{{ note.reply_date }}</td>

										{% if note.allow == 1 %}
											<td>YES</td>
										{% else %}
											<td>NO</td>
										{% endif %}

										<td>{{ note.to_family_id }}</td>

										{% if note.allow == 0 %}
											{% if note.from_id == session.id %}
												<td>
													<a href="{{ doc_root }}admin/notes/{{note.id}}/" class="btn btn-secondary">PENDING</a>
												</td>
											{% else %}
												<td>
													<a href="{{ doc_root }}admin/notes/{{note.id}}/" class="btn" style="background-color:green">ALLOW</a>
												</td>
											{% endif %}
										{% else %}
											{% if note.family_id != note.to_family_id %}
												<td>{{note.to_family_id}}</td>
												<td>
													<a href="{{ doc_root }}post-family/{{member.id}}/{{note.to_family_id}}" class="btn btn-primary">FOLLOW</a>
												</td>
											{% else %}
												<td>{{note.to_family_id}}</td>
												<td>
													<a href="{{ doc_root }}post-family/{{member.id}}/{{note.to_family_id}}" class="btn btn-secondary">REVERT</a>
												</td>
											{% endif %}
										{% endif %}
										<td>
											<a href="{{ doc_root }}admin/note-delete/{{note.id}}/" class="btn btn-danger">DELETE</a>
										</td>
										<td>
											<a href="javascript:history.back()" class="btn btn-primary">EXIT</a>
										</td>
									{% endif %}

								{% endfor %}
							{% endfor %}
						</table>

						<!-- {% endif %}
						 -->
					</main>
				{% endblock %}
