{% extends 'admin/layout.html' %}
{% block title %}Edit/create story
{% endblock %}
{% block content %}

	<form action="{{ doc_root }}admin/story/{{ story.id }}" method="POST" enctype="multipart/form-data">
		<main>
			<!-- class="container admin" id="content"> -->
			<!--      {% if story.image_file %}
						      <h1>Edit Story</h1>
						      {% else %}
						      <h1>Create Story</h1>
						      {% endif %}
						    -->
				{% if errors.warning %}
					<div class="alert alert-danger"> {{ errors.warning }}</div>
			{% endif %}

			<main class="story container" id="content">
				<section class="image">

					{% if not story.image_file and photocount >= member.photo_limit%}


						<div>
							<p></p>
							<p></p>
							<text>
								You have reached the
								<i>
									<b>Story Limit</b>
								</i>
								for your membership level.  Please view the
								<b>HELP</b>
								page for membership level options.</text>
							<p></p>
							<p></p>
							<p>
								<a href="{{ doc_root }}/index/1">Click here to go back to the home page</a>.</p>
						{% endif %}
						{% if not story.image_file and photocount<= member.photo_limit %}
							<label for="image">Upload image</label>
							<div class="form-group image-placeholder">
								<input type="file" name="image" class="form-control-file" id="image"><br>
								<span class="errors">{{ errors.image }}</span>
							</div>
							<div class="form-group">
								<input type="hidden" name="website" id="website" value={{website.id}} class="form-control">
								<span class="errors">{{ errors.website }}</span>
							</div>
							<div
								class="form-group">
								<!--   <label for="image_alt">Alt text: </label> -->
								<input type="hidden" name="image_alt" id="image_alt" value="." class="form-control">
								<span class="errors">{{ errors.image_alt }}</span>
							</div>
							<br>
							<div class="form-checkbox">
								<input type="hidden" name="landscape" value="1" class="form-check-input" id="landscape" {% if story.landscape %} checked {% endif %}>
								<label for="landscape " class="form-check-label"></label>
								<div class="form-checkbox">
									<input type="checkbox" name="block" value={{story.allow_comment}} class="form-check-input" id="block" {% if story.allow_comment %} checked {% endif %}>
									<label for="block" class="form-check-label">Allow Comments</label>
								</div>
							{% endif %}
							{% if story.image_file %}
								<label>Image:</label>
								<img src="{{ doc_root }}uploads/{{story.image_file}}">
								<p class="alt">
									<strong>Alt text:</strong>
									{{ story.image_alt }}</p>
								<!-- <a href="{{ doc_root }}admin/alt-text-edit/{{ story.id }}" class="btn btn-secondary">Edit alt text</a> -->
								<a href="{{ doc_root }}admin/image-delete/{{story.id}}" class="btn btn-secondary">Delete image</a><br>

								<div class="form-checkbox">
									<input type="checkbox" name="landscape" value={{story.landscape}} class="form-check-input" id="landscape" {% if story.landscape %} checked {% endif %}>
									<label for="landscape" class="form-check-label">Landscape</label>
								</div>
								<div class="form-checkbox">
									<input type="checkbox" name="block" value={{story.allow_comment}} class="form-checkbox" id="block" {% if story.allow_comment %} checked {% endif %}>
									<label for="block" class="form-check-label">Allow Comments</label>
								</div>
								<div class="form-checkbox">
									<input type="blog" name="blog" value={{story.blog}} class="form-checkbox" id="blog" {% if story.blog %} checked {% endif %}>
									<label for="blog" class="form-check-label">Image Size</label>
								</div>

							{% endif %}

						</section>

						{% if (story.image_file )
        or (not story.image_file and photocount <= member.photo_limit) %}

							<section class="text">
								<div class="form-group">
									<label for="title">Title:
									</label>
									<input type="text" name="title" id="title" value="{{ story.title }}" class="form-control">
									<span class="errors">{{ errors.title }}</span>
								</div>
								<div class="form-group">
									<input type="hidden" name="website" id="website" value="{{ story.website }}" class="form-control">
									<span class="errors">{{ errors.website }}</span>
								</div>
								<div class="form-group">
									<label for="summary">Summary:
									</label>
									<textarea name="summary" id="summary" class="form-control">{{ story.summary }}</textarea>
									<span class="errors">{{ errors.summary }}</span>
								</div>
								<div class="form-group">
									<label for="story-content">Content:
									</label>
									<textarea id="textarea1" class="normal">
										name="content" id="story-content" class="form-control">{{ story.content }}</textarea>
									<span class="errors">{{ errors.content }}</span>
								</div>
								<div class="form-group">
									<label for="member_id">
										Author:</label>
									<select name="member_id" id="member_id">

										{% if story.image_file %}
											<option value="{{session.id }}" {% if story.member_id == session.id %} selected {% endif %}>
												{{ story.forename }}
												{{ story.surname }}</option>
										{% else %}
											<option value="{{authors.id }}" {% if session.id == authors.id %} selected {% endif %}>
												{{ authors.forename }}
												{{ authors.surname }}</option>
										{% endif %}
										<span class="errors">{{ errors.author }}</span>
									</select>
								</div>
								<div class="form-group">
									<label for="family_id">Family ID:
									</label>
									<select name="family_id" id="family_id">

										{% if story.image_file %}

											<option value={{ family.id }} {% if story.family_id == family.id %} selected {% endif %}>
												{{ family.id }}-{{ family.forename }}
												{{ family.surname }}</option>
										{% else %}
											<option value={{ family.id }} {% if member.account_id == family.id %} selected {% endif %}>
												{{ family.id }}-{{ family.forename }}
												{{ family.surname }}</option>
										{% endif %}

									</select>
									<span class="errors">{{ errors.family }}</span>
								</div>

								<div class="form-group">
									<label for="menu">Menu:
									</label>
									<select name="menu_id" id="menu">
										{% for menu in menus %}

											{% if story.image_file %}

												<option value="{{ menu.id }}" {% if story.menu_id == menu.id %} selected {% endif %}>
													{{ menu.name }}</option>
											{% else %}

												{% if story.menu_id %}
													<option value="{{ menu.id }}" {% if story.menu_id == menu.id %} selected {% endif %}>
														{{ menu.name }}</option>
												{% else %}
													<option value="{{ menu.id }}" {% if member.account_id == menu.id %} selected {% endif %}>
														{{ menu.name }}</option>
												{% endif %}
											{% endif %}
										{% endfor %}
									</select>
									<span class="errors">{{ errors.menu }}</span>
								</div>
								<div class="form-group">
									<label for="keyword">Keyword:
									</label>
									<input type="text" name="keyword" id="keyword" value="{{ story.keyword }}" class="form-control">
									<span class="errors">{{ errors.keyword }}</span>
								</div>
								<div class="form-group">
									<label for="storyorder">Order:</label>
									<input type="number" name="storyorder" id="storyorder" value="{{ story.storyorder|default(1) }}" class="input-digit" min="1" max="999" step="1">
									<span class="errors">{{ errors.storyorder }}</span>
								</div>

								<div class="form-checkbox">
									<input type="checkbox" name="published" value="1" class="form-check-input" id="published" {% if story.published %} checked {% endif %}>
									<label for="published" class="form-check-label">Public</label>
								</div>
								<input type="submit" name="update" value="save" class="btn btn-primary">
							</section>
						{% endif %}
					</div>
					<!-- /.admin-story -->
				</main>
			</form>
		{% endblock %}
