{% extends 'admin/layout.html' %}
{% block content %}

	<main>
		<!-- class="container" id="content"> -->
		<section class="header">
			<h1>Websites</h1>
			{% if success %}
				<div class="alert alert-success">
					{{ success|e|nl2br }}
				</div>
			{% endif %}
			{% if failure %}
				<div class="alert alert-danger">{{ failure }}</div>
			{% endif %}
			<p>
				<a href="{{ doc_root }}admin/website" class="btn btn-primary">Add new website</a>
			</p>

		</section>

		<table class="table-striped">
			<tr>
				<th>Name</th>
				<th></th>
				<th>Website Id</th>
				<th>Image File</th>
				<th></th>
				<th>Status</th>
				<th class="edit">Edit Website</th>
				<th class="del">Deactivate Reactivate</th>
			</tr>

			{% for website in websites %}
				<tr>
					<td>
						<strong>{{ website.name }}</strong>
					</td>
					<td></td>
					<td>{{ website.id }}</td>
					<td>{{ website.image_file }}</td>
					<td></td>
					<td>
						{% if website.is_active %}
							Active
						{% else %}
							Inactive
						{% endif %}
					</td>
					<td>
						<a href="{{ doc_root }}admin/website/{{ website.id }}" class="btn btn-primary">edit</a>
					</td>
					<td>
						{% if website.is_active %}
							<form method="post" action="{{ doc_root }}admin/website-toggle/{{ website.id }}" style="display:inline;">
								<input type="hidden" name="website_id" value="{{ website.id }}">
								<button type="submit" class="btn btn-danger">Deactivate</button>
							</form>
						{% else %}
							<form method="post" action="{{ doc_root }}admin/website-toggle/{{ website.id }}" style="display:inline;">
								<input type="hidden" name="website_id" value="{{ website.id }}">
								<button type="submit" class="btn btn-primary">Reactivate</button>
							</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</main>

{% endblock %}
