{% extends 'layout.html' %}

{% block title %}
	Edit/create website
{% endblock %}

{% block content %}

	{% if flash_failure %}
		<div class="alert alert-danger">
			{{ flash_failure }}
		</div>
	{% endif %}

	{% if flash_success %}
		<div class="alert alert-success">
			{{ flash_success }}
		</div>
	{% endif %}

	<form
		action="{{ doc_root }}admin/website{% if website.id > 0 %}/{{ website.id }}{% endif %}" method="POST" enctype="multipart/form-data">
		<!-- WEBSITE.HTML LOADED -->

		<input type="hidden" name="csrf" value="{{ csrf_token }}">

		<main class="blog1">

			{% if errors.warning %}
				<div class="alert alert-danger">
					{{ errors.warning }}
				</div>
			{% endif %}

			<section class="image">

				{% if not website.image_file %}
					<label for="image">Upload image</label>

					<div class="form-group image-placeholder">
						<input type="file" name="image" class="form-control-file" id="image">

						<br>

						<span class="errors">
							{{ errors.image_file }}
						</span>
					</div>

					<div class="form-group">
						<input type="hidden" name="image_alt" id="image_alt" value="" class="form-control">

						<span class="errors">
							{{ errors.image_alt }}
						</span>
					</div>
				{% endif %}

				{% if website.image_file %}
					<div class="form-group">
						<label>Image:</label>

						<img src="{{ doc_root }}img/{{ website.image_file }}" alt="{{ website.alt|default('Website image') }}">

						<p class="alt">
							<strong>Alt text:</strong>
							{{ website.alt }}
						</p>
					</div>
				{% endif %}

			</section>

			<section class="text">

				<div class="form-group">
					<label for="name">Name:</label>

					<input type="text" name="name" id="name" value="{{ website.name }}" class="form-control">

					<span class="errors">
						{{ errors.name }}
					</span>
				</div>

				<input type="hidden" name="website_id" value="{{ website.id|default(0) }}">
				<div class="form-group">
					<label for="uber_id">Primary Website Account</label>

					<select name="uber_id" id="uber_id" class="form-control">
						<option value="">-- None --</option>

						{% for member in website_members %}
							<option value="{{ member.id }}" {% if website.uber_id == member.id %} selected {% endif %}>
								{{ member.id }}
								-
								{{ member.forename }}
								{{ member.surname }}
							</option>
						{% endfor %}
					</select>

					<small class="form-text">
						Primary account used by Uber Admin when creating stories for this website.
					</small>
				</div>
				<div class="form-group">
					<label for="sorttype">Sort Type</label>

					<div class="control">
						<select name="sorttype" id="sorttype" class="form-control">
							{% for st in sorttypes %}
								<option value="{{ st.id }}" {% if website.sorttype == st.id %} selected {% endif %}>
									{{ st.name }}
								</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-check">
					<input type="checkbox" name="non_members" value="1" class="form-check-input" id="non_members" {% if website.non_members %} checked {% endif %}>

					<label for="non_members" class="form-check-label">
						Non-members
					</label>
				</div>

				<div class="form-check">
					<input type="checkbox" name="blog" value="1" class="form-check-input" id="blog" {% if website.blog %} checked {% endif %}>

					<label for="blog" class="form-check-label">
						Blog
					</label>
				</div>

				<input type="submit" name="update" value="Save" class="btn btn-primary">

			</section>

		</main>
	</form>

{% endblock %}
