{% extends 'admin/layout.html' %}
{% block title %}Edit/create story{% endblock %}
{% block content %}

<form action="{{ doc_root }}blog/{{ story.id }}" method="POST"  enctype="multipart/form-data">
  <body oncontextmenu="return false;">
  <main>  <!-- class="container admin" id="content">
      {% if story.image_file %}
      <h1>Edit Story</h1>
      {% else %}
      <h1>Create Story</h1>
      {% endif %}
    -->
      {% if errors.warning %}<div class="alert alert-danger">{{ errors.warning }}</div>{% endif %}
    
      <main class="story container" id="content"> 
        
          {% if story.image_file %}
             
          {% endif %}
       
          
         
        {% if (story.image_file )
           or (not story.image_file and photocount <= member.photo_limit) %}
           
        <section class="text">
          <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" value="{{ story.title }}" class="form-control">
            <span class="errors">{{ errors.title }}</span>
          </div>
          <div class="form-group">
            <input type="hidden" name="website" id="website" value="{{ story.website }}" class="form-control">
            <span class="errors">{{ errors.website }}</span>
          </div>
          <div class="form-group">
            <label for="summary">Summary: </label>
            <textarea name="summary" id="summary" class="form-control">{{ story.summary }}</textarea>
            <span class="errors">{{ errors.summary }}</span>
          </div>
          <div class="form-group">
            <label for="story-content">Content: </label>
            <textarea name="content" id="story-content" class="form-control">{{ story.content }}</textarea>
            <span class="errors">{{ errors.content }}</span>
          </div>
          <div class="form-group">
            <label for="member_id">  Author:</label>
            <select name="member_id" id="member_id">
             
              {% if story.image_file %}
              <option value="{{session.id }}"
              {% if story.member_id == session.id %} selected{% endif %}>
              {{ story.forename }} {{ story.surname }}</option>
              {% else %}
              <option value="{{authors.id }}"
              {% if session.id == authors.id %} selected{% endif %}>
              {{ authors.forename }} {{ authors.surname }}</option>
              {% endif %}
              <span class="errors">{{ errors.author }}</span>
            </select>
           </div>
           <div class="form-group">
            <label for="family_id">Family ID:   </label>
            <select name="family_id" id="family_id">
             
              {% if story.image_file %}
           
              <option value={{ family.id }}
              {% if story.family_id == family.id %} selected{% endif %}>
              {{ family.id }}-{{ family.forename }} {{ family.surname }}</option>
              {% else %}
              <option value={{ family.id }}
              {% if member.account_id == family.id %} selected{% endif %}>
              {{ family.id }}-{{ family.forename }} {{ family.surname }}</option>
              {% endif %}
          
            </select>
            <span class="errors">{{ errors.family }}</span>
          </div>
          <div class="form-group">
            <label for="menu">Menu: </label>
            <select name="menu_id" id="menu">
              {% for menu in menus %}
               {% if member.account_id == menu.account_id %}
                {% if story.image_file %}

                <option value="{{ menu.id }}"
                  {% if story.menu_id == menu.id %} selected{% endif %}>
                  {{ menu.name }}</option>
                {% else %}
                  <option value="{{ menu.id }}"
                  {% if member.account_id == menu.id %} selected{% endif %}>
                  {{ menu.name }}</option>
                {% endif %}
                {% endif %}
              {% endfor %}
              </select>
            <span class="errors">{{ errors.menu }}</span>
            <div class="form-group">
              <input type="hidden" name="website" id="website" value= {{website.id}}  class="form-control">
              <span class="errors">{{ errors.website }}</span>
            </div>
          </div>
          <div class="form-group">
            <label for="keyword">Keyword: </label>
            <input type="text" name="keyword" id="keyword" value="{{ story.keyword }}" class="form-control">
            <span class="errors">{{ errors.keyword }}</span>
          </div>
         
           <div class="form-group">
             <label for="storyorder">Order:</label>
              <input type="number" name="storyorder" id="storyorder" class="form-control"
            value="{{ story.storyorder }}">
            <span class="errors">{{ errors.storyorder }}</span>
          </div>
         <div class="form-check">
            <input type="checkbox" name="published" value="1" class="form-check-input" id="published"
            {% if story.published %} checked {% endif %}>
            <label for="published" class="form-check-label">Public</label>
          </div>
          <input type="submit" name="update" value="save" class="btn btn-primary">
         </section>
       {% endif %}
      </div><!-- /.admin-story -->
      </main> 
      </body>
  </form>
  <script>
    if (document.getElementById('story-content')){
       tinymce.init({
         menubar: false,
         selector: '#story-content',
         toolbar: 'bold italic forecolor link h6 bullist numlist alignleft aligncenter alignright print',
           color_map: [
           '000000', 'Black',
           '808080', 'Gray',
           'FFFFFF', 'White',
           'FF0000', 'Red',
           'FFFF00', 'Yellow',
           '008000', 'Green',
           '0000FF', 'Blue'
            ],
         plugins: 'link print lists',
         target_list: false,
         link_title: false
 
       });
     }
   </script>
{% endblock %}