{% extends 'admin/layout.html' %}
{% block content %}
  <main class="container" id="content">
    <form action="{{ doc_root }}admin/edit-family/{{ member.id }}" method="POST" class="narrow">
      <h1>Edit Family</h1>
      <p>Member name: {{ member.forename }} {{ member.surname }}
      </p>Current Family Id: {{member.account_id}} 
      
      <!-- input account_id dropdown here --> 

  <div class="form-group">
            <label for="family_id">Family: </label>

            <select name="family_id" id="family_id">
              {% for family in families %}
              <option value="{{ family.to_family_id }}"
              {% if family.id == member.account_id %} selected{% endif %}>
              {{family.to_family_id}} {{ family.to_name }} </option>
              {% endfor %}
            </select>
            <span class="errors">{{ errors.family }}</span>
          </div>
          <input type="submit" value="Update family" class="btn 
    btn-primary" /> 
 
    </form>
  
    </form>
  </main>
{% endblock %}