{% extends 'admin/layout.html' %}
{% block content %}

	<main class="container" id="content">
		<section class="header">
			<h1>Members</h1>
			{% if success %}
				<div class="alert alert-success">
					{{ success|e|nl2br }}
				</div>
			{% endif %}
			{% if failure %}
				<div class="alert alert-danger">{{ failure }}</div>
			{% endif %}
		</section>
		<table class="table table-striped">
			<th>Profile picture</th>
			<th>Forename</th>
			<th>Surname</th>
			<th>Role</th>
			<th>Member Id</th>
			<th>Family Id</th>
		</th>
		<th>Edit Role</th>
		<th>Edit Family</th>
		<th>Edit Profile</th>

		{% for member in members %}
			<!--    {% if( session.id == 1 or (session.id != 1 and session.id == member.id) or (member.id != 1 and member.account_id == 1)) %} -->
			if( session.id == 1 or (session.id != 1 and session.id == member.id and member.id != 2) )
			<tr>
				<td>
					{% if member.picture %}
						<img src="{{ doc_root }}uploads/{{ member.picture }}" alt="{{ member.forename }}" class="profile"/>
					{% else %}
						<img src="{{ doc_root }}uploads/person.png" alt="" class="profile"/>
					{% endif %}
				</td>
				<td>{{ member.forename }}</td>
				<td>{{ member.surname }}</td>
				<td>{{ member.role }}</td>
				<td>{{ member.id }}</td>
				<td>{{member.account_id}}</td>

				<td>
					<a class="btn btn-secondary" href="{{ doc_root }}admin/edit-role/{{ member.id }}">Edit role</a>

				</td>

				<td>
					<a href="{{ doc_root }}admin/edit-family/{{ member.id }}" class="btn btn-primary">Edit Family
					</a>
				</td>

				<td>
					<a href="{{ doc_root }}member-edit-profile/{{ member.id }}" class="btn btn-primary">Edit profile
					</a>
				</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>{% endblock %}
