{% extends 'layout.html' %}

{% block content %}
	<main>
		<section class="header">
			<h1>Forgot Password</h1>

			{% if success %}
				<div class="alert alert-success">{{ success }}</div>
			{% endif %}

			{% if errors.warning %}
				<div class="alert alert-danger">{{ errors.warning }}</div>
			{% endif %}
		</section>

		<section class="form-membership">
			<form action="{{ doc_root }}password-lost" method="POST" class="form-membership js-recaptcha-form" data-recaptcha-action="password_lost">
				<input type="hidden" name="csrf_token" value="{{ csrf_token|e }}">
				<input type="hidden" name="g-recaptcha-response" value="">

				<div class="form-group">
					<p class="small">
						Please enter your master email address. Password reset emails are sent to your main email,
												not the website-specific login email. Example:
						<strong>name@example.com</strong>, not
						<strong>name@example.com17</strong>.
					</p>

					<label for="email">Email address:</label>
					<input type="email" name="email" id="email" value="{{ email|default('')|e }}" class="form-control">
					<div class="errors">{{ errors.email }}</div>
				</div>

				<input type="submit" class="btn btn-primary" value="Send Password Reset Email">
			</form>
		</section>
	</main>
{% endblock %}
