<!DOCTYPE html>
<html lang="en-US">
	<main class="container1" id="content">
		<!--
						     <div>
						      <a href="{{ doc_root}}index/{{session.website}}">
						        <img src="{{ doc_root }}img/adjustfocus.jpg" width="60%" height="60%" alt="adjustfocus.jpg">
						      </a>
						    -->
		<!-- Your splash screen content -->
			<div
			id="splash-screen"> <!--   <a href="{{ doc_root}}index/{{session.website}}"> -->
			<a href="{{ doc_root}}member/2">
				<img src="{{ doc_root }}img/adjustfocus.jpg" alt="Splash Screen Image">
			</a>
		</div>
