{% extends 'layout.html' %}

{% block content %}
	<main>
		<form action="{{ doc_root }}sort/{{ menu_id }}" method="POST" class="narrow">
			<input type="hidden" name="menu_id" value="{{ menu_id }}">

			<h1>Edit Page Sort</h1>

			{% if member %}
				<p>Member name:
					{{ member.forename }}
					{{ member.surname }}</p>

				<div class="form-group">
					<label for="pagelimit">Max Stories Displayed:</label>
					<select name="pagelimit" id="pagelimit">
						{% for limit in pagelimit %}
							<option value="{{ limit.amount }}" {% if limit.amount == member.pagelimit %} selected {% endif %}>
								{{ limit.amount }}
							</option>
						{% endfor %}
					</select>
					<span class="errors">{{ errors.pagelimit|default('') }}</span>
				</div>
			{% endif %}

			<div class="form-group">
				<label for="sorttype">Sort:</label>
				<select name="sorttype" id="sorttype">
					{% for st in sorttype %}
						<option value="{{ st.id }}" {% if (member and st.id == member.sorttype) or (not member and st.id == active_sorttype_id) %} selected {% endif %}>
							{{ st.name }}
							-
							{{ st.sorttype }}
						</option>
					{% endfor %}
				</select>
			</div>

			<input type="submit" value="Update Settings" class="btn btn-primary"/>
		</form>
	</main>
{% endblock %}
