{% extends 'layout.html' %}

{% block content %}
	<main>
		<section class="header">
			<h1>Email Verification</h1>

			{% if success %}
				<div class="alert alert-success">{{ success }}</div>
				<p>
					Your email address has been verified successfully.
				</p>

				<p>
					Return to the "Check Your Email" page that is still open in your browser.
				</p>

				<p>
					From there, sign in to finish saving your story.
				</p>

				<p>
					You may now close this tab.
				</p>

			{% endif %}

			{% if failure %}
				<div class="alert alert-danger">{{ failure }}</div>
				<p>
					Your email address has been verified successfully.
				</p>

				<p>
					Return to the "Check Your Email" page that is still open in your browser.
				</p>

				<p>
					From there, sign in to finish saving your story.
				</p>

				<p>
					You may now close this tab.
				</p>


			{% endif %}
		</section>
	</main>
{% endblock %}
