{% extends 'layout.html' %}

{% block content %}
	<main>
		<section class="header">
			<h1>Email Verification</h1>

			{% if success %}
				<div class="alert alert-success">{{ success }}</div>
				<p>
					Your email address has been verified successfully.
				</p>

				<p>
					Return to the browser window where you wrote your story to continue saving it.
				</p>

				<p>
					You may now close this tab.
				</p>
			{% endif %}

			{% if failure %}
				<div class="alert alert-danger">{{ failure }}</div>
				<p>
					Your email address has been verified successfully.
				</p>

				<p>
					Return to the browser window where you wrote your story to continue saving it.
				</p>

				<p>
					You may now close this tab.
				</p>
			{% endif %}
		</section>
	</main>
{% endblock %}
